/* Sticky footer styles
-------------------------------------------------- */


#footer {
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #424242;
  font-size: 9px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.text-muted {
  margin: 20px 0;
  text-align: center;
}



code {
  font-size: 80%;
}
