.sidebar {
  min-width: 200px;
  padding-left: 8px;
  padding-right: 8px;

  .header {
    text-align: center;

    h1 {
      margin-block-end: 0;
    }

    p {
      margin-block-start: 0;
    }

  }

}
