<app-one-container>
  <div class="signin">
    <div class="header">
      <h1>{{ 'SIGN_IN.TITLE' | translate }}</h1>
    </div>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'SIGN_IN.EMAIL' | translate }}</mat-label>
        <input matInput placeholder="email@example.com" required>
        <mat-error>Wrong email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'SIGN_IN.PASSWORD' | translate }}</mat-label>
        <input matInput [type]="isHidePassword ? 'password' : 'text'">
        <button
          mat-icon-button
          matSuffix
          (click)="isHidePassword = !isHidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="isHidePassword"
        >
          <mat-icon>{{ isHidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        class="submit"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </form>
    <div class="server_setting">
      <p>{{ 'SIGN_IN.CURRENT_SERVER' | translate }} : itBoard.com</p>
      <button mat-stroked-button>{{ 'SIGN_IN.CHANGE' | translate }}</button>
    </div>
  </div>


</app-one-container>
