mat-selection-list {
  max-width: 600px;

  mat-list-option {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 16px;
    padding-bottom: 16px;

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-top: 16px;
    }

    p {
      margin-bottom: 16px;
    }
  }

}

.sign_up {
  mat-form-field {
    margin-right: 16px;
  }
}

.footer {
  margin-top: 48px;
  display: flex;

  button {
    margin-right: 8px;
  }
}
